.footer {
    background-color: $granite-gray;
    height: 250px;
}

.footer_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    height: 12%;
    padding-top: 100px;
}