.header {
    background-color: $jelly-bean;
    height: 500px;
    padding-top: 150px;
    font-family: $raleway;
    text-align: center;
    color: $white;
    font-size: $x-large;
    line-height: 80%;

}

.header_container__extra-light {
    font-weight: $extra-light;
}

.header_container__bold {
    font-weight: $bold;
}