.main_section_button { 
    background-color: $jelly-bean;
    height: 250px;

    h3 { 
        font-family: $raleway;
        text-align: center;
        color: $white;
        font-size: $x-large;
        font-weight: $bold;
        padding-top: 35px;
        padding-bottom: 5px;
       }
}